@import "./variables.less";
.pf1.sheet.actor {
  min-width: 672px;
  min-height: 736px;

  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */

  .warning {
    flex: 0;
    background-color: #cece00;
    border: 1px solid #909000;
    border-radius: 2px;
  }

  .tab-footer {
    flex: 0;
  }

  /* ----------------------------------------- */
  /*  Summary Tab                              */
  /* ----------------------------------------- */

  .tab.summary {
    border-left: @borderGroove;

    .summary-header {
      flex: 0;
      border-bottom: @borderGroove;

      display: flex;
      flex-flow: row nowrap;
      gap: 2px;

      .name-xp {
        flex: 0;

        h1.charname {
          input {
            height: 2.5rem;
            padding: 0;
          }
        }
      }

      .character-summary {
        flex: 0;

        & > div {
          flex: 0 0 33%;
          //height: 32px;
          line-height: 2;
          border-right: @borderGroove;
          border-bottom: @borderGroove;
          align-content: center;

          &:nth-child(3n + 0) {
            border-right: none;
          }

          &.alignment {
            padding: 1px 3px;
          }
        }
      }

      .race-container {
        flex: 1;
        margin: 3px 0;
        display: flex;
        gap: 4px;

        .item-controls {
          flex: 0;
          align-items: flex-start;

          a {
            flex: 0 0 12px;
            font-size: @fontSizeNormal;
            text-align: center;
            color: #666;
          }
        }

        .race.item-image {
          flex: 0 0 32px;
          background: no-repeat center;
          background-size: contain;
          line-height: 32px;
          text-align: center;
          vertical-align: baseline;
          margin-right: 4px;
          height: 32px;
          color: @colorTan;

          &.rollable:hover {
            background-image: url("../../icons/svg/d20-black.svg") !important;
          }
        }
      }
    }

    .pseudo-table {
      background: rgba(0, 0, 0, 0.05);
      border-top: 1px solid #7a7971;
      border-bottom: 1px solid #7a7971;

      ul {
        margin: 0;
        padding: 0;
      }

      .header,
      .sub-header {
        margin: 0;
        color: #f0f0e0;
        text-shadow: 1px 1px #000;
      }
      .header,
      .sub-header,
      .value {
        width: 100%;
        text-align: center;
        line-height: 1.5;
        flex: 0;
      }
      .header {
        font-weight: bold;
        background: rgba(0, 0, 0, 0.5);
      }
      .sub-header {
        background: rgba(0, 0, 0, 0.35);
      }
      &.maneuverability-details {
        height: 100%;
        .value {
          flex: 1;
          line-height: 3;
          text-align: center;
          text-align-last: center;
        }
      }
    }

    .attributes > .attribute {
      margin: 0;
      border-left: none;
      border-bottom: none;
      border-top: @borderGroove;
      border-right: @borderGroove;
      border-radius: 0;
      height: auto;
    }

    img.profile {
      flex: 0 0 160px;
      width: 160px;
      height: 160px;
      padding: 0 3px;
      object-fit: contain;
      border: none;
      border-right: @borderGroove;
    }

    .misc-header-items {
      flex: 0.5;

      .actor-quick-actions {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;

        button {
          min-height: 24px;
          line-height: 1.5;
        }
      }
    }

    .hd-level {
      flex: 0 0 256px;
      overflow-x: hidden;
      margin: 0 0 4px 8px;

      table {
        margin-bottom: 4px;

        &:hover {
          a.config-icon {
            color: @colorBeige;
          }
        }

        th.level {
          width: 32px;
        }

        tr {
          td {
            padding: 0;
            text-align: center;
          }
          td.experience,
          th.experience {
            width: 50%;
          }

          a.config-icon {
            flex: 0 0 16px;
            width: 16px;
            font-size: @fontSizeLarge;
            color: rgba(0, 0, 0, 0);

            &:hover {
              color: @colorDark;
            }
          }

          input[type="text"] {
            flex: 1 0 32px;
            height: auto;
          }

          td.experience {
            input[type="text"],
            span.text-box,
            .max {
              padding: 0;
              flex: 1;
              text-align: center;
            }

            .separator {
              flex: 0;
            }
          }
        }
      }

      .xpbar {
        width: 100%;
        height: 12px;
        font-size: @fontSizeLarge;
        color: @colorOlive;
        background: @colorTan;
        border: 1px solid @colorDark;
        border-radius: 4px;

        span.bar {
          background: #63ff00;
          border: 1px solid #d0ffb2;
          border-radius: 2px;
          height: 10px;
          display: block;
        }
      }
    }

    .attributes {
      flex: 0;
      border-bottom: @borderGroove;

      .health-details,
      .speed-details {
        flex: 4;
        border-right: 1px solid black;
        margin-right: 1px;

        .vigor,
        .wounds {
          flex: 2;
        }
        .vigor {
          border-right: 1px solid black;
          margin-right: 1px;
          flex: 3;
        }
        .speed-details {
          flex: 3.5;
        }
      }
      .maneuverability-details {
        flex: 1;
      }

      li {
        padding: 0;
        border-top: @borderGroove;

        &:not(:last-child) {
          border-right: @borderGroove;
        }
      }
    }

    .subdetails-body {
      h2 {
        // Override Foundry bottom margin (0.5rem)
        margin-bottom: 0.2rem;
      }
    }

    .quick-info {
      ul.attributes {
        margin: 2px 0;
      }

      .generic-defenses {
        h3 {
          margin: 0;
        }
      }

      table {
        margin-bottom: 4px;
      }

      .quick-actions {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0;
        margin: 0;

        li {
          cursor: pointer;
          flex: 0 0 52px;
          border-width: 2px;
          border-style: solid;
          border-radius: 4px;
          display: flex;
          margin: 2px;
          overflow: hidden;

          &:hover {
            filter: brightness(150%);

            .icon-label {
              visibility: initial;
            }
          }

          img {
            border: none;
            width: 48px;
            height: 48px;
          }

          .icon-label {
            visibility: hidden;
          }
        }
      }

      charges {
        position: sticky;
        display: inline-flex;
        align-self: flex-end;
        color: white;
        right: 0;
        border-top-left-radius: 5px;
        background-color: rgba(0, 0, 0, 0.7);
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: unset;
        border-right: unset;
        padding-left: 0.3em;
        padding-top: 0.05em;
        padding-right: 0.1em;
      }
    }
  }

  .alignment {
    color: black;
  }

  .controls {
    .control {
      flex: 0;
      visibility: hidden;
      margin-right: 4px;
    }

    &:hover {
      .control {
        visibility: visible;
      }
    }
  }

  .attributes {
    input[type="text"] {
      height: 24px;
    }

    input.temphp {
      width: 48%;
    }
  }

  /* ----------------------------------------- */
  /*  General Styles                           */
  /* ----------------------------------------- */

  // Box Headers
  h4.box-title {
    line-height: 16px;
    margin: 4px 8px 2px;
    font-size: @fontSizeSubHeader;
    border-bottom: 1px solid @colorBeige;
  }

  // Sections
  .primary-body section {
    overflow-y: hidden;
  }

  /* ----------------------------------------- */
  /*  Attributes                               */
  /* ----------------------------------------- */

  .attributes {
    .traits {
      overflow-y: auto;
      height: 100%;

      > * {
        flex: 0 0 24px;

        background-color: rgba(170, 170, 170, 0.3);
        &:nth-child(even) {
          background-color: rgba(210, 210, 210, 0.3);
        }
        &:hover {
          background-color: rgba(64, 64, 192, 0.3);
        }
      }
    }

    table {
      margin: 0;
    }
  }

  ul.attributes.misc-base,
  ul.attributes.misc-defenses {
    .attribute-footer input {
      width: 100%;
    }
  }

  .attributes-root {
    flex: 0 0 30%;
  }

  ul.attributes {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 0;

    h3 {
      margin: 0;
    }

    table {
      span.text-box,
      input[type="text"] {
        height: 20px;
        padding: 1px 3px;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Defenses                                 */
  /* ----------------------------------------- */

  .defenses {
    .attributes {
      flex: 0;
    }

    .attribute .attribute-footer input {
      width: 32px;
    }

    .defense-rolls,
    .defense-notes {
      label {
        line-height: 20px;
        white-space: nowrap;

        h3 {
          .nodesto();
          font-size: @fontSizeHeader;
        }
      }
    }

    .defense-notes {
      margin-top: 5px;
      overflow-y: scroll;
      flex: 1;

      label {
        flex: 1;
      }

      textarea {
        flex: 3;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Ability Scores                           */
  /* ----------------------------------------- */

  .tab.attributes {
    .ability-scores {
      flex: 0;
      display: flex;
      flex-flow: column nowrap;
      gap: 2px;
    }
  }

  .bottom {
    overflow-y: auto;
  }

  /* ----------------------------------------- */
  /*  Skills                                   */
  /* ----------------------------------------- */

  div.skill-rank {
    flex: 0;

    ol,
    ul {
      padding-inline-start: 0;
    }
  }

  ul.skills-list {
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    border: @borderGroove;
    border-radius: 3px;

    .skill-controls {
      // Add skill button
      margin-left: 0.5em;
    }

    .skill {
      padding-left: 0.3em;
    }

    .sub-skill {
      padding-left: 2.2em;
    }

    li.skill,
    li.sub-skill {
      display: grid;
      grid-template-columns: auto 24px 3em repeat(5, 4em) 40px;
      height: 2em;

      .itemBackground();

      &.untrained {
        .skill-name {
          color: rgba(0, 0, 0, 0.6);
        }

        .rollable {
          img {
            opacity: 60%;
          }

          img:hover {
            animation: 0;
          }
        }
      }

      .rollable {
        img {
          width: 24px;
          height: 24px;
          border: unset;
        }

        img:hover {
          animation: dice-spin 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045) 1 forwards;
          transform-origin: 50% 40%;
          filter: @filterAuburn;
        }
      }

      .skill-name {
        display: inline-flex;
        font-size: @fontSizeEnlarged;

        h4,
        input[type="text"] {
          display: inline-block;
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
        }

        .compendium-entry > h4 {
          border-bottom: 1px #111 dotted;
        }

        .compendium-entry:hover .compendium-icon {
          visibility: visible;
        }

        .compendium-icon {
          visibility: hidden;
          flex: 0 0 24px;
          margin-left: 5px;
          position: relative;
          top: -4px;
        }

        .skill-control {
          display: inline-flex;
          align-items: center;

          .fas {
            display: inline-block;
            text-align: center;
            width: 24px;
          }
        }
      }

      .checkbox {
        font-size: @fontSizeNormal;
      }

      .skill-ability {
      }

      .skill-mod {
        line-height: 1.5;
        font-weight: bold;
        text-align: center;
        border: 1px dotted #111;
        cursor: initial;
      }

      .skill-rank {
        border-bottom: @borderGroove;
      }

      .skill-controls {
      }

      input[type="text"] {
        height: auto;
      }
    }

    li.sub-skill .skill-name input[type="text"] {
      padding-left: 8px;
    }
  }

  /* ----------------------------------------- */
  /*  Buffs & Conditions                       */
  /* ----------------------------------------- */

  .condition {
    flex: 0;
    align-content: center;
    margin: 2px;
    flex-basis: calc(20% - 4px);

    label {
      line-height: 20px;
      flex: 0;
      white-space: nowrap;

      span {
        font-size: @fontSizeNormal;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Traits                                   */
  /* ----------------------------------------- */

  .traits {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 5px;

    .form-group,
    .form-group-stacked {
      margin: 0;
      justify-content: space-between;
    }

    .trait-selector,
    .senses-selector {
      flex: 0 0 16px;
      padding: 2px 0;
      color: #666;
      font-size: @fontSizeLarge;
    }

    .configure-flags {
      flex: 1;
    }

    .traits-list {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: right;
      justify-content: end;
      align-items: center;
    }

    select {
      flex: 0 0 180px;
    }

    label {
      flex: 0 0 150px;
      line-height: 20px;
      font-weight: bold;
      margin: 0;
      text-align: right;
    }

    input {
      text-align: right;
    }

    i.fas {
      margin-right: 3px;
      text-align: right;

      &:hover {
        text-shadow: 0 0 10px red;
      }
    }

    .inactive {
      color: @colorTan;
    }
  }

  /* ----------------------------------------- */
  /*  Inventory Lists                          */
  /* ----------------------------------------- */

  /* Encumbrance Bar */
  .encumbrance {
    height: 12px;
    background: @colorTan;
    margin: 1px 15px 0 1px;
    border: 1px solid @colorDark;
    border-radius: 3px;
    position: relative;

    .encumbrance-bar {
      position: absolute;
      top: 1px;
      left: 1px;
      background: #6c8aa5;
      height: 8px;
      border: 1px solid #cde4ff;
      border-radius: 2px;
    }

    .encumbrance-label {
      height: 10px;
      padding: 0 5px;
      position: absolute;
      top: 0;
      right: 0;
      font-size: @fontSizeNormal;
      line-height: 1;
      text-align: right;
      color: #eee;
      text-shadow: 0 0 5px #000;
    }

    &.encumbered {
      .encumbrance-bar {
        background: #a80d0d;
        border-color: #e14949;
      }
    }

    .encumbrance-breakpoint {
      position: absolute;
      left: 66%;
    }

    .arrow-up {
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid #666;
    }

    .arrow-down {
      top: 0;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #666;
    }

    &.encumbered {
      .arrow-up {
        border-bottom: 4px solid #000;
      }
      .arrow-down {
        border-top: 4px solid #000;
      }
    }
  }

  .tab-footer {
    .tag {
      flex: 0 1 auto;
    }
  }

  .tab.features,
  .tab.inventory,
  .tab.spellbook,
  .tab.attributes,
  .tab.combat,
  .tab.buffs {
    overflow-y: hidden;

    label.checkbox {
      text-align: left;
      flex: 0;
      margin: 0 0 0 4px;

      &:first-child {
        margin-top: 4px;
      }
    }

    a.checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: @colorDark;

      img {
        border: none;
      }

      &:not(.active) > img {
        filter: @filterParchment;
      }

      &.active {
        font-weight: 600;
        background-color: rgba(155, 155, 155, 0.5);
        border: 1px transparent;
        border-radius: 10px;
        text-shadow: 0 0 8px red;
      }

      & > :first-child {
        margin-right: 4px;
      }
    }

    .buffs-conditions {
      flex: 0;
    }

    .inventory-group {
      height: 100%;
    }

    .inventory-list {
      height: 100%;

      input[type="checkbox"] {
        height: 18px;
      }
    }
  }

  .tab.combat {
    .combat-attacks {
      flex: 1 1 320px;
      overflow-y: auto;
    }

    .combat-defenses {
      table {
        margin-bottom: 4px;
      }
    }
  }

  .tab.settings {
    overflow-x: hidden;

    div.ability-scores {
      min-width: 32em;
      max-width: 36em;
    }
  }

  div.attributes-traits {
    align-items: flex-start;
    margin: 0;
    overflow-y: hidden;
  }

  /* Inventory List Filters */
  .inventory-filters {
    margin: 0 8px;
    flex: 0 0 20px;
    h3,
    .filter-title {
      .nodesto();
      color: @colorOlive;
      font-size: @fontSizeHeader;
      margin: 0;
    }
  }

  .tab.spellbook {
    .spellbook-configuration {
      display: flex;
      flex-flow: column nowrap;
      gap: 2px;

      .spellbook-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3px;

        .spell-settings {
          display: flex;
          flex-flow: column nowrap;
        }
      }
    }
  }

  .tab.inventory {
    .tab-footer > * {
      flex: 0 0 100%;
    }

    .tab-footer {
      table {
        margin-top: 4px;
      }
    }

    .inventory-tags,
    .carry-bonus {
      flex-basis: 50%;
      align-self: center;
    }

    .inventory-tags {
      justify-content: flex-end;
    }
  }

  .carry-label {
    flex: 0 0 24px;
  }

  .carry-bonus {
    label {
      flex: 0;
      margin-left: 8px;
      text-align: right;
      line-height: 20px;
      color: @colorTan;
      white-space: nowrap;
    }
    input[type="text"],
    span.text-box {
      height: 20px;
      flex: 0 0 48px;
      text-align: center;
      margin-left: 8px;
      border-bottom: @borderGroove;
    }
  }

  /* ----------------------------------------- */
  /*  Features                                 */
  /* ----------------------------------------- */

  section.feats-body {
    overflow-y: auto;

    .feats-group {
      .item-detail.item-type {
        flex: 0 0 40px;
      }
    }
  }

  /* ----------------------------------------- */
  /*  Spellbook                                */
  /* ----------------------------------------- */

  .spellbook-group {
    label {
      margin: 0;
    }

    .spell-settings > .flexcol {
      height: min-content;
      > *:not(:last-child) > {
        margin-bottom: 2px;
      }
    }

    .spell-points-current {
      flex: 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      h3 {
        .nodesto();
        font-size: @fontSizeHeader;
        flex: 0 0 160px;
        margin: 0;
      }

      .value,
      .max {
        display: flex;
        flex: 0 0 3em;
      }

      .sep {
        flex: 0;
      }
    }

    .spell-summary {
      display: flex;
      flex-flow: row nowrap;
    }

    .radios {
      display: flex;
      justify-content: space-evenly;

      label {
        white-space: nowrap;
      }

      label.checkbox {
        display: flex;
        &:first-child {
          margin-top: unset;
        }
      }

      input {
        margin-inline-end: 4px;
      }

      *:not(:last-child) {
        margin-inline-end: 4px;
      }
    }

    .spell-level-mod-container {
      column-gap: 12px;
      display: grid;
      grid-auto-rows: auto;
      grid-template-columns: min-content 1fr;

      > h3 {
        white-space: nowrap;
      }

      .spell-mod-formulas {
        display: flex;
        flex-direction: row;

        .ppdoffset,
        .cpdoffset {
          overflow: none;
          width: 50%;
        }
      }

      &.hide-cpd {
        .ppdoffset {
          width: 100%;
        }
        .cpdoffset {
          display: none;
        }
      }
    }

    .spell-comps,
    .spell-uses {
      white-space: nowrap;
      overflow: hidden;
      flex: 0 0 96px;
      font-size: @fontSizeNormal;
      text-align: center;
      color: @colorTan;
      display: flex;
      align-items: center;
      justify-content: center;

      input[type="number"] {
        width: calc(100% - 2px);
        min-width: 40px;
        height: 24px;
        padding: 1px 3px;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        border-radius: 3px;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
      }

      .spell-input-readonly {
        color: black;
      }

      input[type="text"].base,
      input[type="number"].base {
        flex: 1;
      }

      input,
      span.sep {
        text-align: center;
      }
      span.sep {
        flex: 0 0 8px;
      }
    }

    .spell-uses {
      display: flex;

      .spell-slots,
      .spell-max {
        flex: 1;
      }

      input {
        flex: 0 0 24px;
      }
    }

    // .spell-uses {
    //   padding-right: 8px;
    //   text-align: right !important;
    // }

    .spell-school {
      white-space: nowrap;
      overflow: hidden;
      flex: 0 0 96px;
      font-size: @fontSizeNormal;
      color: @colorTan;
      text-align: center;
      border-right: 1px solid @colorFaint;
    }

    .spell-activation {
      white-space: nowrap;
      overflow: hidden;
      flex: 0 0 120px;
      font-size: @fontSizeNormal;
      color: @colorTan;
      text-align: center;
      border-right: 1px solid @colorFaint;
    }

    .spell-components {
      white-space: nowrap;
      overflow: hidden;
      flex: 0 0 80px;
      font-size: @fontSizeNormal;
      color: @colorTan;
      text-align: center;
      border-right: 1px solid @colorFaint;
    }

    // Empty spellbook controls
    .spellbook-empty .item-controls {
      flex: 1;
    }

    .alt-name,
    .spell-failure {
      input[type="text"] {
        flex: 1;
      }
    }

    .spell-level-message {
      font-style: italic;
      font-weight: bold;
      text-align: center;
    }

    .spellcasting-summary {
      flex: 2;
      margin-right: 1px;
      border-right: 1px solid black;
    }

    .spellcasting-config {
      flex: 0;
      margin-left: 3px;
    }

    .spell-range {
      flex: 2;
      border-right: 1px solid black;

      label {
        flex: 1 1 48px;
        text-align: right;
        margin-right: 8px;
        white-space: nowrap;
      }

      input[type="text"] {
        flex: 1 1 48px;
      }

      table {
        margin-bottom: 4px;
      }
    }
  }

  a.rollable {
    span {
      margin: 0 2px;
    }
  }

  .rollable.image-d20 {
    flex: 0 0 24px;
    display: inline-block;
    background: no-repeat center;
    background-size: contain;
    background-image: url(../../icons/dice/d20black.svg);
    height: 24px;
    width: 24px;
  }

  /* ----------------------------------------- */
  /*  TinyMCE                                  */
  /* ----------------------------------------- */

  .editor {
    padding: 0 8px;
  }

  /* ----------------------------------------- */
  /*  Misc                                     */
  /* ----------------------------------------- */

  hr {
    margin: 2px 0;
    flex: 0;
  }

  .actor-notes {
    .primary-content {
      flex: 1 0 320px;
    }
  }

  table {
    table-layout: fixed;
    overflow: hidden;

    &.ability-table {
      input[type="text"] {
        height: 20px;
      }
    }

    td {
      img {
        vertical-align: middle;
        margin-right: 2px;
      }
    }
  }

  .table {
    .header {
      background: rgba(0, 0, 0, 0.5);
    }
    .sub-header {
      background: rgba(0, 0, 0, 0.2);
    }
    .header,
    .sub-header {
      label {
        color: #f0f0e0;
        text-shadow: rgb(0, 0, 0) 1px 1px 0px;
      }
    }
    .cell {
      background: rgba(0, 0, 0, 0.05);
      .midsize {
        flex-basis: 40%;
      }
      .left-label {
        flex-basis: 60%;
        //flex-shrink: true;
      }
    }
  }

  .skill-lock-button {
    flex: 0;
    &:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f023";
      margin-right: 0.5em;
    }
    &.unlocked:before {
      content: "\f3c1";
    }
  }
}

.locked {
  img.sheet-profile {
    max-height: 360px;
    max-width: 240px;
  }
}
